<div class="title-bar" data-responsive-toggle="fate-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">
    Menu
  </div>
</div>
<div class="top-bar" id="fate-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="has-submenu"><a href="#">pCpH</a>
      <ul class="submenu menu vertical" data-submenu>
        <li> <a href="../closed" title="Closed system" >Closed system</a> </li>
        <li> <a href="../open" title="Open system" >Open system</a> </li>
      </ul>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="has-submenu"><a href="#">Help</a>
      <ul class="submenu menu vertical help" data-submenu>
        <li> <a href="./" title="Reset Values" >Reset Values</a></li>
        <li> <a href="background.pdf" title="Background" >Background</a></li>
        <li> <a href="../useful/pkas.pdf" title="Background" >Relevant pKa Values</a></li>
      </ul>
      </li>
    </ul>
  </div>
</div>